<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
		<title>My Amazing Bucket List</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
	</head>

	<body>
		<header>
			<h1>My Amazing Bucket List</h1>
		</header>

		<main>
			<%= yield %>
		</main>

		<footer>
			<p>Ⓒ Copyright RaeRae 2017</p>
		</footer>
	</body>
</html>